.letters-container {
    background-color: #4889d0;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
  }